x-laravel-base: &laravel-base
    build:
        context: .
        dockerfile: Dockerfile
    working_dir: /var/www
    volumes:
        - ./:/var/www
    depends_on:
        - redis
        - postgres
    networks:
        - app-network

services:
    laravel:
        <<: *laravel-base
        container_name: ${APP_TAG}-swoole
        ports:
            - "8000:8000"
        environment:
            OCTANE_SERVER: swoole
        command: php artisan octane:start --server=${OCTANE_SERVER} --host=0.0.0.0 --port=8000

    queue:
        <<: *laravel-base
        container_name: ${APP_TAG}-queue
        command: php artisan queue:work --verbose --tries=3 --timeout=90
        depends_on:
            - redis

    # scheduler:
    #     <<: *laravel-base
    #     container_name: ${APP_TAG}-scheduler
    #     command: sh -c "while [ true ]; do php artisan schedule:run --verbose --no-interaction & sleep 60; done"
    #     depends_on:
    #         - laravel

    postgres:
        image: postgres:13
        container_name: ${APP_TAG}-postgres
        environment:
            POSTGRES_DB: ${DB_DATABASE}
            POSTGRES_USER: ${DB_USERNAME}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
        volumes:
            - pgdata:/var/lib/postgresql/data
        ports:
            - "5432:5432"
        networks:
            - app-network

    redis:
        image: redis:7-alpine
        container_name: ${APP_TAG}-redis
        networks:
            - app-network

volumes:
    pgdata:

networks:
    app-network:
        driver: bridge
